/* Webfont: Neusharp-SemiBold */@font-face {
    font-family: 'NeusharpSemBd';
    src: url('Neusharp-SemiBold.woff2') format('woff2'), /* Modern Browsers */
         url('Neusharp-SemiBold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

