/* Webfont: Neusharp-SemiBoldCondensed */@font-face {
    font-family: 'NeusharpSemBdCond';
    src: url('Neusharp-SemiBoldCondensed.woff2') format('woff2'), /* Modern Browsers */
         url('Neusharp-SemiBoldCondensed.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

