/* Webfont: Neusharp-BlackCondObliq */@font-face {
    font-family: 'NeusharpBlackCond';
    src: url('Neusharp-BlackCondensedOblique.woff2') format('woff2'), /* Modern Browsers */
         url('Neusharp-BlackCondensedOblique.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

