/* Webfont: Neusharp-Medium */@font-face {
    font-family: 'NeusharpMed';
    src: url('Neusharp-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('Neusharp-Medium.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

