/* Webfont: Neusharp-BlackCondensed */@font-face {
    font-family: 'NeusharpBlackCond';
    src: url('Neusharp-BlackCondensed.woff2') format('woff2'), /* Modern Browsers */
         url('Neusharp-BlackCondensed.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

