/* Webfont: Neusharp-MediumOblique */@font-face {
    font-family: 'NeusharpMed';
    src: url('Neusharp-MediumOblique.woff2') format('woff2'), /* Modern Browsers */
         url('Neusharp-MediumOblique.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

