/* Webfont: Neusharp-Bold */@font-face {
    font-family: 'Neusharp';
    src: url('Neusharp-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('Neusharp-Bold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

