/* Webfont: Neusharp-Condensed */@font-face {
    font-family: 'NeusharpCond';
    src: url('Neusharp-Condensed.woff2') format('woff2'), /* Modern Browsers */
         url('Neusharp-Condensed.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

